<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Index</title>
        <link type="text/css" rel="stylesheet" th:href="@{/css/bootstrap.min.css}" />
    </head>
    <body>
        <div class="container mt-5">
            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h2 class="text-center mb-4">Welcome</h2>
                    
                    <!-- Buttons -->
                    <div class="d-grid gap-3">
                        <a th:href="@{/newworkout}" class="btn btn-primary btn-block">New Workout</a>
                        <form th:action="@{/logout}" method="post" class="d-grid"> <!-- spring security expects POST for logout -->
                            <button type="submit" class="btn btn-secondary btn-block">Logout</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>